<!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
<!--sidebar start-->
{% set currentRoute = app.request.attributes.get('_route') %}
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="#"><img src="/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">{{ app.user.displayName }}</h5>

            <li class="mt">
                <a href="{{ path('dashboard') }}"{% if currentRoute starts with 'dashboard' %} class="active"{% endif %}>
                    <i class="fa fa-clipboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Contacts</span>
                </a>
            </li>

            <li>
                <a href="{{ path('cleaning_jobs') }}"{% if currentRoute starts with 'cleaning' %} class="active"{% endif %}>
                    <i class="fa fa-magic"></i>
                    <span>Cleaning</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
