
.header-btn {
    margin-top: 12px;
}

textarea.form-control {
    resize: vertical;
}

label.required:after {
    content: '*';
    margin-left: 2px;
}

.showback.not-seen {
    background-color: #d9edf7;
}
