
.header-btn {
    margin-top: 12px;
}

textarea.form-control {
    resize: vertical;
}

label.required:after {
    content: '*';
    margin-left: 2px;
}

.showback.not-seen {
    background-color: #d9edf7;
}

#calendar h2 {
    color: rgb(121, 121, 121);
}

.ds .desc:hover {
    background: transparent;
}
.ds .desc:last-child {
    border: none;
}
